name: CI

on:
  push:
  schedule:
    - cron: "0 0 * * 1"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      Solution_name: JsonFlatFileDataStore.sln
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.302
            6.x
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build
      - name: Tests
        run: dotnet test JsonFlatFileDataStore.Test/JsonFlatFileDataStore.Test.csproj
